  <h2>Liste des co-propriétés</h2>
  <p-table #dt1 dataKey="id" [scrollable]="true" [value]="condominiums">
    <ng-template pTemplate="caption">
      <div class="flex">
        <span class="p-input-icon-left ml-auto">
          <p-button
            label="Ajouter une co-propriété"
            icon="pi pi-plus"
            (onClick)="openDialog()"
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Nom</th>
        <th>Préfixe</th>
        <th>Ville</th>
        <th>Date de fin d'exercice</th>
        <th  class="flex justify-content-end">Détails</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-condominium>
        <tr>
          <td>{{ condominium.name }}</td>
          <td>{{ condominium.prefix }}</td>
          <td>{{ condominium.city }}</td>
          <td></td>
          <td class="flex justify-content-end">
            <p-button
              icon="pi pi-eye"
            />
          </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7">Aucune copropriété trouvée.</td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog
    header="Ajouter une nouvelle co-propriété"
    [(visible)]="displayDialog"
    [modal]="true"
    (onHide)="onDialogHide()"
    [style]="{ width: '70vw', height: '90vh' }"
    [contentStyle]="{ display: 'flex', 'flex-direction': 'column', 'justify-content': 'flex-start' }"
    [closable]="true"
    [dismissableMask]="false"
    [autoZIndex]="true"
  >
    <app-condominium></app-condominium>
  </p-dialog>

  <p-confirmDialog></p-confirmDialog>
