<p-card header="Concierge">
  <div class="card flex flex-wrap ">
    <div class="flex-wrap">
      <p-inputSwitch 
        [ngModel]="conciergeForm.get('isThereConcierge')?.value" 
        (onChange)="conciergeSwitch($event)" />
      <label for="conciergeSwitch" style="padding: 10px;">{{ ConciergeMessage }}</label>
    </div>
  </div>
</p-card>

  <p-blockUI [target]="blocked" [blocked]="!isThereConcierge">
    <i class="pi pi-lock" style="font-size: 3rem"></i>
  </p-blockUI>

<p-card #blocked>
  <div class="card flex flex-wrap gap-4 mb-4"   [formGroup]="conciergeForm"  >

      <div class="flex-wrap" #test>
        <p-floatLabel >
          <input type="text" pInputText formControlName="name" pTooltip="Entrer votre prénom" tooltipPosition="top"  />
          <label for="name">{{ getLabel('name') }}</label>
        </p-floatLabel>
      </div>
  
      <div class="flex-wrap">
        <p-floatLabel>
          <input type="text" pInputText formControlName="surname" pTooltip="Entrer votre nom" tooltipPosition="top" />
          <label for="surname">{{ getLabel('surname') }}</label>
        </p-floatLabel>
      </div>
  
      <div class="flex-wrap">
        <p-floatLabel>
          <input type="email" pInputText formControlName="email" pTooltip="Entrer votre email" tooltipPosition="top"  />
          <label for="email">{{ getLabel('email') }}</label>
        </p-floatLabel>
      </div>
  
      <div class="flex-wrap">
        <p-inputSwitch formControlName="corporation" />
        <label for="corporation">{{ getLabel('corporation') }}</label>
      </div>
  
      <div class="flex-wrap">
        <p-floatLabel>
          <p-inputMask 
            mask="(+99) 999-99-99-99" 
            formControlName="phone"
            placeholder="(99) 999-99-99-99" />
          <label for="phone">{{ getLabel('phone') }}</label>
        </p-floatLabel>
      </div>  
  
      <div class="flex-wrap">
        <p-floatLabel>
          <p-inputMask 
            mask="(a*)99-9999-9999-9999" 
            formControlName="iban"
            placeholder="(BE)XX-XXXX-XXXX-XXXX" />
          <label for="iban">{{ getLabel('iban') }}</label>
        </p-floatLabel>
      </div>  
  
      <div class="flex-wrap">
        <p-floatLabel>
          <p-calendar
            formControlName="birthdate"
            dateFormat="dd.mm.yy"/>
          <label for="birthdate">{{ getLabel('birthdate') }}</label>
        </p-floatLabel>
      </div>  
      
      <div class="flex-wrap">
        <p-floatLabel>
          <p-dropdown
            formControlName="civility"
            [options]="civilityTypes"
            optionLabel="type"
            placeholder="Selectionner une civilité"
            class="fixed-width-dropdown"  />
          <label for="civility">{{ getLabel('civility') }}</label>
        </p-floatLabel>
      </div>  
  
      <div class="flex-wrap">
        <p-floatLabel>
          <p-dropdown
            formControlName="document_receiving_method"
            [options]="documentReceivingMethods"
            optionLabel="type"
            placeholder="Selectionner une méthode d'envoi des documents"
            class="fixed-width-dropdown" />
          <label for="document_receiving_method">{{ getLabel('document_receiving_method') }}</label>
        </p-floatLabel>
      </div>  
      
      <div class="flex-wrap">
        <p-floatLabel>
          <input type="text" pInputText formControlName="reminder_delay" pKeyFilter="int" />
          <label for="reminder_delay">{{ getLabel('reminder_delay') }}</label>
        </p-floatLabel>
      </div>
  
      <div class="flex-wrap">
        <p-floatLabel>
          <p-dropdown
            formControlName="reminder_receiving_method"
            [options]="reminderReceivingMethods"
            optionLabel="type"
            placeholder="Selectionner une méthode d'envoi des rappels"
            class="fixed-width-dropdown"  />
          <label for="reminder_receiving_method">{{ getLabel('reminder_receiving_method') }}</label>
        </p-floatLabel>
      </div>  
  </div>
</p-card>