.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Empile les éléments verticalement */
    min-height: 100vh; /* Assure que le conteneur occupe toute la hauteur de la fenêtre */
    background-color: #f4f4f4; /* Optionnel : Ajouter une couleur de fond */
}

.card {
    width: 100%;
    max-width: 1600px; /* Limite la largeur de la carte */
    padding: 20px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center; /* Centre le texte et les éléments à l'intérieur de la carte */
}

p-steps {
    margin-bottom: 20px; /* Espace entre le steps et le formulaire */
}
