<form [formGroup]="createCondominiumForm" (ngSubmit)="onSubmit()">

    @for (category of getCategories(); track category.key) {
        <div [formGroupName]="category.key" class="card flex justify-content-center">

            @for (element of category.value; track element.id) {
                <p-floatLabel>
                    <label [for]="element.id"> {{ element.name }} </label>

                    @if (element.type == "text") {
                        <input [id]="element.id" [type]="element.type" pInputText [formControlName]="element.id">
                    }
                    @else if (element.type == "selector") {
                        <select [name]="element.id">
                            
                            @for (option of element.list; track option.type) {
                                
                                <option [value]="option.type"> {{ option.type }} </option>
                            }

                        </select>
                    }
                    
                </p-floatLabel>
            }
    
        </div>
    }

    <select>

        @for (option of civilityTypes; track option.type) {
            <option [value]="option.type"> {{ option.type }} </option>
        }
    </select>

    <button type="submit" [disabled]="!createCondominiumForm.valid">submit</button>
</form>
