<form [formGroup]="createCondominiumForm" (ngSubmit)="onSubmit()">

    @for (category of getCategories(); track category.key) {
        <div [formGroupName]="category.key" class="card flex justify-content-center">

            <p class="section_title"> {{ category.key }} </p>

            @if (category.key == "concierge" && !isCheckboxChecked) {

                <label>
                    <input type="checkbox" (change)="onCheckboxChange($event)">
                    <p>Il n'y a pas de concierge pour cette co-propriété</p>
                </label>
            }
            @else {

                @if (category.key == "concierge" && isCheckboxChecked) {

                    <label>
                        <input type="checkbox" (change)="onCheckboxChange($event)">
                        <p>il y a un concierge pour cette co-propriété</p>
                    </label>
                }

                @for (element of category.value; track element.id) {
                    <div class="inputLabelduo">
                        <label [for]="element.id"> {{ element.name }} </label>
    
                        @if (element.type == "text" || element.type == "date" || element.type == "email" || element.type == "checkbox") {
                            <input [id]="element.id" [type]="element.type" pInputText [formControlName]="element.id">
                            
                        }

                        @else if (element.type == "number") {
                            <input [id]="element.id" [type]="element.type" pInputText [formControlName]="element.id">
                            
                        }
                        
                        @else if (element.id == "civility") {
                            <select [id]="element.id" [formControlName]="element.id">
                                <option [value]="null"> {{ "" }} </option>
                                @for (option of civilityTypes; track option.type) {
                                    <option [value]="option.type"> {{ option.type }} </option>
                                }
                            </select>
                        }
                        
                        @else if (element.id == "document_receiving_method") {
                            <select [id]="element.id" [formControlName]="element.id">
                                <option [value]="null"> {{ "" }} </option>
                                @for (option of documentReceivingMethods; track option.type) {
                                    <option [value]="option.type"> {{ option.type }} </option>
                                }
                            </select>
                        }
                        
                        @else if (element.id == "reminder_receiving_method") {
                            <select [id]="element.id" [formControlName]="element.id">
                                <option [value]="null"> {{ "" }} </option>
                                @for (option of reminderReceivingMethods; track option.type) {
                                    <option [value]="option.type"> {{ option.type }} </option>
                                }
                            </select>
                        }
                    </div>
                }
            }
        </div>
    }
    <!--<button type="submit" [disabled]="!createCondominiumForm.valid">submit</button>-->
    <button type="submit">submit</button>
</form>