<p-card header="Adresse">
  <div class="card p-fluid" [formGroup]="addressForm">
    
    <div class="p-grid p-mb-3"> 
      <!-- Street Input -->
      <div class="p-col-custom-12"> 
        <p-floatLabel>
          <input id="street" pInputText formControlName="street" />
          <label for="street">Street</label>
        </p-floatLabel>
        <small class="error-message">{{ getErrorMessage('street') }}</small>
      </div>
    </div> 

    <div class="p-grid p-mb-3">
      <!-- Address Complement -->
      <div class="p-field p-col-custom-8">
        <p-floatLabel>
          <input id="address_complement" pInputText formControlName="address_complement" />
          <label for="address_complement">Address Complement</label>
        </p-floatLabel>
      </div>

      <!-- Postal Code -->
      <div class="p-col-custom-4">
        <p-floatLabel>
          <input id="postal_code" pInputText formControlName="postal_code" />
          <label for="postal_code">Postal Code</label>
        </p-floatLabel>
        <small class="error-message">{{ getErrorMessage('postal_code') }}</small>
      </div>
    </div>

    <div class="p-grid p-mb-3">
      <!-- Ville -->
      <div class="p-field p-col-custom-6">
        <p-floatLabel>
          <input id="city" pInputText formControlName="city" />
          <label for="city">Ville</label>
        </p-floatLabel>
        <small class="error-message">{{ getErrorMessage('city') }}</small>
      </div>

      <!-- Pays -->
      <div class="p-col-custom-6">
        <p-floatLabel>
          <input id="country" pInputText formControlName="country" />
          <label for="country">Pays</label>
        </p-floatLabel>
        <small class="error-message">{{ getErrorMessage('country') }}</small>
      </div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    
    <div class="grid grid-nogutter justify-content-between">
        <p-button label="Précédent" (onClick)="previousStep()" icon="pi pi-angle-left"></p-button>
        <p-button label="Suivant"   (onClick)="nextStep()" icon="pi pi-angle-right" iconPos="right"
        [disabled]="!addressForm.valid"></p-button>
    </div>
</ng-template>
</p-card>
