<div class="card flex justify-content-center">
    <h2>Upload Invoice</h2>
    <p-toast />
    <p-fileUpload 
        name="file[]" 
        [url]= "uploadUrl"
        (onUpload)="onUpload($event)"
        [multiple]="true" 
        accept="application/pdf,image/*" 
        maxFileSize="10000000">
        
        <ng-template pTemplate="content">
            <ul *ngIf="uploadedFiles.length">
                <li *ngFor="let file of uploadedFiles">
                    {{ file.name }} - {{ file.size }} bytes
                </li>
            </ul>
        </ng-template>
    </p-fileUpload>
</div>