<div class="layout-container">
    <!-- Sidebar -->
    <div class="sidebar">
      <app-sidebar></app-sidebar>
    </div>
  
    <!-- Main Content -->
    <div class="main-content">
      <app-navbar></app-navbar>
      <div class="content-area">
      </div>
      <p>ceci est un test pour savoir ou ca va écrire</p>
      <p>ceci est un test pour savoir ou ca va écrire</p>
      <p>ceci est un test pour savoir ou ca va écrire</p>
      <p>ceci est un test pour savoir ou ca va écrire</p>
      <p>ceci est un test pour savoir ou ca va écrire</p>
      <p>ceci est un test pour savoir ou ca va écrire</p>
      <p>ceci est un test pour savoir ou ca va écrire</p>
      <p>ceci est un test pour savoir ou ca va écrire</p>
      <p>ceci est un test pour savoir ou ca va écrire</p>
      <p>ceci est un test pour savoir ou ca va écrire</p>
      
    </div>
  </div>
  