.card-form {
  .p-field.p-grid {
    display: flex;
    gap: 1rem;
  }

  .p-col-6 {
    flex: 1 1 50%;
  }

  .p-field {
    margin: 1.6rem 0; 
  }
  
  .p-field:last-of-type {
    margin-bottom: 0; 
  }

  .error-message {
    color: red;
    font-size: 0.8rem;
    margin-top: 0.1rem;
    display: block;
    min-height: 1em;
  }
  
  .error-message:not(:empty) {
    visibility: visible;
  }
}

textarea[pInputTextarea] {
  resize: none;
}

button {
  text-align: right;
  margin-top: 1rem;
}
