<p-card header="Informations">
  <div class="card p-fluid" [formGroup]="informationForm" >

    <!-- Name Field -->
    <div class="p-col-custom-12">
      <p-floatLabel>
        <input type="text" pInputText formControlName="name" [ngClass]="{'error-input': isFieldInvalid('name')}" />
        <label for="name">Name</label>
      </p-floatLabel>
      <small *ngIf="getErrorMessage('name')" class="error-message">{{ getErrorMessage('name') }}</small>
    </div>

    <!-- Prefix Field -->
    <div class="p-col-custom-12">
      <p-floatLabel>
        <input type="text" pInputText formControlName="prefix" [ngClass]="{'error-input': isFieldInvalid('prefix')}" />
        <label for="prefix">Prefix</label>
      </p-floatLabel>
      <small *ngIf="getErrorMessage('prefix')" class="error-message">{{ getErrorMessage('prefix') }}</small>
    </div>

    <!-- Exercice Field -->
    <div class="p-col-custom-12">
      <p-floatLabel>
        <input type="text" pInputText formControlName="exercice" [ngClass]="{'error-input': isFieldInvalid('exercice')}" />
        <label for="exercice">Exercice comptable</label>
      </p-floatLabel>
      <small *ngIf="getErrorMessage('exercice')" class="error-message">{{ getErrorMessage('exercice') }}</small>
    </div>

    <!-- Description Field -->
    <div class="p-grid p-mb-3 p-col-12">
      <p-floatLabel>
        <textarea pInputTextarea rows="5" cols="30" formControlName="description" [ngClass]="{'error-input': isFieldInvalid('description')}"></textarea>
        <label for="description">Description</label>
      </p-floatLabel>
      <small *ngIf="getErrorMessage('description')" class="error-message">{{ getErrorMessage('description') }}</small>
    </div>
  </div>
</p-card>