<p-card header="Informations">
  <form [formGroup]="informationForm" class="p-fluid card-form">
    <div class="p-field p-grid">
      <div class="p-col-6">
        <p-floatLabel>
          <input 
            type="text" 
            pInputText 
            formControlName="name" 
            [ngClass]="{'error-input': isFieldInvalid('name')}" 
            id="name"
          />
          <label for="name">Nom de la copropriété</label>
        </p-floatLabel>
        <small class="error-message">{{ getErrorMessage('name') }}</small>
      </div>

      <div class="p-col-6">
        <p-floatLabel>
          <input 
            type="text" 
            pInputText 
            formControlName="prefix" 
            [ngClass]="{'error-input': isFieldInvalid('prefix')}" 
            id="prefix"
          />
          <label for="prefix">Prefixe de la copropriété</label>
        </p-floatLabel>
        <small class="error-message">{{ getErrorMessage('prefix') }}</small>
      </div>
    </div>

    <div class="p-field">
      <p-floatLabel>
        <textarea 
          pInputTextarea 
          rows="4" 
          cols="30" 
          formControlName="description" 
          [ngClass]="{'error-input': isFieldInvalid('description')}" 
          id="description"
        ></textarea>
        <label for="description">Description</label>
      </p-floatLabel>
      <small class="error-message">{{ getErrorMessage('description') }}</small>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <div class="grid grid-nogutter justify-content-end">
      <p-button label="Suivant" (onClick)="nextStep()" icon="pi pi-angle-right" iconPos="right" 
        [disabled]="!informationForm.valid"></p-button>
    </div>
</ng-template>
</p-card>
